version: 0.1.{build}
pull_requests:
  do_not_increment_build_number: true

environment:
  matrix:
    - PYTHON: C:\Python27-x64

install:
  - ps: >
      & "$env:PYTHON\python.exe" -m virtualenv C:\pacifica;
      C:\pacifica\Scripts\activate.ps1;
      pip install --upgrade pip setuptools wheel;
      pip install -r requirements-dev.txt

build: off

test_script:
  - ps: >
      mkdir C:\tmp; C:\pacifica\Scripts\activate.ps1;
      pre-commit run -a;
      coverage run --include='archiveinterface/*' --omit='archiveinterface/archivebackends/abstract/*' -m pytest -v archiveinterface;
      coverage report -m --fail-under=80;
