version: 0.1.{build}
pull_requests:
  do_not_increment_build_number: true

environment:
  matrix:
    - PYTHON: C:\Python27-x64

install:
  - '%PYTHON%\python.exe -m pip install -r requirements-dev.txt'

build: off

test_script:
  - ps: >
      mkdir C:\tmp;
      & "$env:PYTHON\python.exe" -m coverage run --include='archiveinterface/*' -m pytest -v archiveinterface/tests/archive_interface_unit_test.py archiveinterface/tests/archive_posix_unit_test.py archiveinterface/tests/archive_response_unit_test.py;
      & "$env:PYTHON\python.exe" -m coverage report -m --fail-under=75;
